body {
    background-color: #fafafa;
    text-shadow: 1px;
  }
  #search {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin-top: 2%;
    .three{
        margin-left: 4%;
    }
  }  
  #searchbar {
    font-size: xx-large;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  #submitSearch {
    float: right;
    font-size: x-large;
    padding-top: 10%;
    padding-bottom: 29%;
  }
  .locations {
    list-style-type: disc;
    -webkit-columns: 2;
    columns: 2;
    list-style-position: inside;
    list-style-type: disc;
  }
  .location {
    background-color: #f0f0f0;
    border: 5px;
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    margin-right: 1%;
    margin-left: 1%;
  }
  
  .information {
    margin-left: 0px;
    font-size: xx-large;
  }
  
  .information p {
    margin-bottom: 0px;
    margin-left: -3px;
    text-align: left;
  }
  
  .locatonName {
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
    margin-bottom: 4px;
  }
  
  .locationInformatons {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  .informationName p {
    font-size: xx-large;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: right;
  }
  
  .locatonInformation {
    margin-bottom: 0px;
  }
  
  #locations, .locatonInformation {
    list-style: none;
  }
  
  @media (min-width: 500px) and (min-aspect-ratio: 59 / 100), (orientation: landscape) {
    #search {
      margin-left: auto;
      margin-right: auto;
      width: 98%;
      margin-top: 2%;
    }
    #searchbar {
      font-size: large;
      width: 100%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    #submitSearch {
      float: right;
      font-size: large;
      padding-top: 1%;
      padding-bottom: 1%;
      padding: 1% 1% 5% 5%;
      margin-left: -30;
    }
    

    .locatonName {
      font-size: large;
    
    }
    .information{
      font-size: medium;
    }
    .informationName p {
      font-size: medium;
    }
  } 
  @media (min-width: 1200px) and (min-aspect-ratio: 59 / 100){
    #search .three{
        margin-left: 2.6%;
    }
    #submitSerch{
        margin-left: -30;
    }
    .location{
      float: left;
      width: 47%;
      margin-left: 1%;
      margin-right: 1%;
    }
}