/* Set the size of the div element that contains the map */
/* Mobile first queries */
body{
    background-color: rgb(250,250,250);
    text-shadow: 1px;
    font-size: large;
}
.mycontainer{
    margin: auto auto;
}

.locations{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 0.5;
    list-style-position: inside;
    list-style-type: disc;
    list-style: none;
}
#location{
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    border: 5px;
    border:1px solid rgb(160, 160, 160);
    border-radius: 6px;
    .locatonName{
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        border-bottom:1px solid rgb(180, 180, 180);
        margin-bottom: 4px;
    }
    .locationInformatons{
        margin-top: 0px;
        margin-left: 1px;
        margin-right: 1px;
        list-style: none;
    }
    .locationInformaton{
        list-style: none;
    }
}
#locationButton{
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        background-color: rgb(240, 240, 240);
        border:1px solid rgb(160, 160, 160);
        border-radius: 1%px;
    
    }
}


                        /* Larger than mobile */
@media (min-width: 350px) {
    .mycontainer{ 
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;

        #map{
            width: 100%;
            height: 80em;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border:1px solid rgb(160, 160, 160);
            border-radius: 0px;
        }

        #locationButton {
        button{
            font-size: xx-large;
            margin-top: 2%;
        }
        }
    }
   .containerResults{
        font-size:  800;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }
    #location{
        margin-top: 5px;
        .locationInformaton{
            float: left;
            
        }
        
    }
    .locationInformaton{
        margin-bottom: 0%;
        font-size: small;
    }
    .informationName{
        width: 60%;
        p{
        text-align: right;
        font-size: xx-large;
        margin-bottom: 0px;
        }
    }
    .information{
        float: right;
        width: 40%;
        p{ 
            margin-left: 3px;
            font-size: xx-large;
            margin-bottom: 0%;
            
        }
    }
    .locationInformatons{
        li{
            margin-bottom: 0%;
        }
        margin-bottom: 0%;
    }
}
@media (min-width: 450px) and (min-aspect-ratio: 59/100), (orientation: landscape){
    .mycontainer{
        width: 90%;
        margin-top: 3%;

        #map{
            height: 6in;
            width: 100%;
            border-radius: 6px;
            }
            #locationButton{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                button{
                    font-size: large;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    background-color: rgb(240, 240, 240);
                    border:1px solid rgb(160, 160, 160);
                    border-radius: 1%px;
                
                }
            }
    }
    .containerResults{
        font-size:  800;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }
    .information{
        p{
            font-size: large;
        }
        
    }
    .informationName{
        p{
            font-size: large;
        }
    }

}

/* Larger than Desktop HD */
@media (min-width: 800px) and (orientation: landscape){
    .mycontainer {
        background-color: white;
        width: 80%;
        margin-top: 0.5%;

        #map{
            height: 5.5in;
            width: 100%;
            border-radius: 6px;
        }

    }
    .containerResults{
        #location{
            .locatonName{
                font-size: x-large;
            }
        }
        .information {
            p{
                font-size: large;
            }
        }
        .informationName{
            p{
                font-size: large;
            }
        }
    }

}

@media (min-width: 1400px) and (orientation: landscape){
    .mycontainer {
        background-color: white;
        width: 80%;
        margin-top: 2%;

        #map{
            height: 10in;
            width: 100%;
            border-radius: 6px;
        }

    }
    .containerResults{
        font-size:  800;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        .informationName {
            p{
                text-align: right;
                margin-bottom: 0px;
                }
        }
        .information {
            p{
                margin-bottom: 0%;
                font-size: large;
            }
        }
    }
}